/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #ffffff;
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #333333;
  --global-text-color-light: #828282;
  --global-theme-color: #007bff;
  --global-hover-color: #0056b3;
  --global-footer-bg-color: #ffffff;
  --global-footer-text-color: #828282;
  --global-footer-link-color: #333333;
  --global-distill-app-color: #{$grey-color};
  --global-navbar-on-click-color: #0056b3;
  --global-navbar-default-color: #007bff;
  --global-divider-color: rgba(0,0,0,.08);
  --global-card-bg-color: #ffffff;
  --global-tag-bg-color: #f2f2f2;

  .fa-sun {
    display : none;
  }
  .fa-moon {
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #1C1C1D;
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #c8c8c8;
  --global-text-color-light: #999999;
  --global-theme-color: #66b0ff;
  --global-hover-color: #66b0ff;
  --global-footer-bg-color: #1C1C1D;
  --global-footer-text-color: #999999;
  --global-footer-link-color: #c8c8c8;
  --global-distill-app-color: #{$grey-color-light};
  --global-navbar-on-click-color: #66b0ff;
  --global-navbar-default-color: #66b0ff;
  --global-divider-color: #333333;
  --global-card-bg-color: #{$grey-900};
  --global-tag-bg-color: #3e3e3e;

  .fa-sun {
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
